{% extends "app/base.html" %}
{% load static %}
{% block title %}Reset Password | Wesell{% endblock title %}

{% block main-content %}

<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5">
          <div class="card-body">
            <h1 class="card-title text-center mb-4">Reset Password</h1>
            <form method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="new_password">New Password</label>
                <input type="password" name="new_password" id="new_password" class="form-control" required>
              </div>
              <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock main-content %}